USE DB1;
GO

DECLARE @DellId int;
SELECT @DellId = Id FROM Products WHERE Name = 'Dell G15 5530';

UPDATE Products SET ProductGroupId = 'dell-g15-5530', VariantName = 'RAM 8GB - SSD 512GB' WHERE Id = @DellId;

INSERT INTO Products (Name, Description, Specification, Price, OldPrice, WarrantyMonths, StockQuantity, ImageUrl, Brand, CategoryId, CreatedAt, IsDeleted, ProductGroupId, VariantName)
SELECT 'Dell G15 5530 - 16GB', Description, 'Intel Core i5-13450HX, RTX 4050, RAM 16GB, SSD 1TB, 15.6 inch 120Hz', 29990000, 31990000, WarrantyMonths, StockQuantity, ImageUrl, Brand, CategoryId, GETUTCDATE(), 0, 'dell-g15-5530', 'RAM 16GB - SSD 1TB'
FROM Products WHERE Id = @DellId;

GO
